@import ./variables
@import ./intro
@import ./projects
@import ./footer
@import ./carousel

body
    margin: 0
    padding: 0
    font-family: PPNeueMontreal
    background-color: $background

p
    font-family: PPNeueMontreal
    color: $dark-gray
    font-size: 1rem
    line-height: 1.35rem

h1
    font-family: PPNeueMontreal Bold
    color: $dark-gray

h2,h3
    font-family: PPNeueMontreal
    color: $dark-gray
    font-size: 1.5rem

a
    font-family: PPNeueMontreal Bold
    color: $dark-gray
    // font-weight:
    text-decoration: none

.container
    // background-color: red
    // max-width: 500px
    display: flex
    flex-direction: row
    align-items: stretch
    height: 100vh
    overflow-x: hidden

@media (max-width: 1262px)
    //---------intro responsive--------
    .intro__index__button
        flex-direction: column

    .intro__index__button__tags
        display: none
        margin-top: 0rem
        margin-bottom: 1rem
        margin-left: 0.75rem

    .intro__description
        flex-direction: column

    .intro__description__main
        border-right: none
        border-bottom: 1px solid $dark-gray

@media (max-width: 1128px)

    .container
        flex-direction: column

    p
        line-height: 1.5rem

    //---------intro responsive--------
    .intro
        width: 100vw

    .intro__footer
        border-bottom: 1px solid $dark-gray
        flex-direction: column
        justify-content: space-between

    .intro__footer__links
        margin-bottom: 0.45rem

    .intro__index__scrollButton--desktop
        visibility: hidden

    .intro__index__scrollButton--mobile
        visibility: visible

    .intro__description__main
        padding-right: 25vw

    .intro__description__extra
        padding-right: 25vw

    //---------projects responsive--------
    .projects
        overflow: visible
        width: 100vw

@media (max-width: 650px)
    .intro__description__main
        padding-right: 1rem

    .intro__description__extra
        padding-right: 1rem

    .projects__post__imgcontainer
        width: 90vw

    .projects__post__imgcontainer
        order: 1
        align-self: center
        text-align: center
        margin: 1rem

    .projects__post__description
        order: 2

    .projects__post
        flex-direction: column

    .projects__post__titlebox
        width: 100vw
        border-bottom: 1px solid $dark-gray
        border-left: none

    .projects__post__titlebox__title
        order: 0
        padding-left: 1rem
        transform-origin: none
        transform: rotate(0deg) translate(0rem,0px)
