.intro__footer
    display: flex
    justify-content: space-between

.intro__footer__links
    margin-top: 0.25rem

.intro__footer__links__element
    margin-right: 1rem
    color: $dark-gray
    text-decoration: none

.intro__footer__imprint
    font-size: 0.75rem
    margin-top: 0.5rem
    color: $dark-gray
    text-decoration: none

.imprint
    max-width: 800px
    padding: 1rem
