
// panel on the left is all in intro
.intro
    background-color: $background
    flex: 1
    width: 50vw
    display: flex
    flex-direction: column
    justify-content: space-between
    border-right: 1px solid $dark-gray

.intro__title
    padding-left: 1rem
    flex: 0.2

.intro__index
    padding-left: 1rem
    // background-color: LightSteelBlue
    border-top: 1px solid $dark-gray
    border-bottom: 1px solid $dark-gray
    flex: 4

.intro__description
    background-color: $primary-one
    border-bottom: 1px solid $dark-gray
    display: flex
    flex-direction: row
    flex: 1.5

.intro__description__main
    padding: 1rem
    // background-color: MediumSlateBlue
    margin: 0
    border-right: 1px solid $dark-gray
    flex: 1

.intro__description__extra
    padding: 1rem
    margin: 0
    flex: 1

.intro__footer
    padding: 0.5rem
    flex: 0.2
