
// panel on the left is all in intro
.intro
    background-color: $background
    flex: 1
    display: flex
    flex-direction: column
    justify-content: space-between
    border-right: 1px solid $dark-gray

.intro__title
    padding-left: 1rem
    flex: 0.2

.intro__index
    padding: 1rem 1rem 1rem 1rem
    // background-color: LightSteelBlue
    border-top: 1px solid $dark-gray
    border-bottom: 1px solid $dark-gray
    flex: 4

.intro__index__button
    background: none
    color: inherit
    width: 100%
    border: none
    padding: 0
    margin: 0
    font: inherit
    cursor: pointer
    outline: inherit
    display: flex

    &:hover

        background-color: $primary-three
        .intro__index__button_h2
            color: $primary-four

.intro__index__cursor
    width: 50px
    height: 50px
    background: linear-gradient(120deg, $primary-one 50%, $primary-four 100%)
    background-size: 1600% 1600%
    position: absolute
    mix-blend-mode: difference
    pointer-events: none
    z-index: 3
    transition: 1
    animation: blobRadius 5s ease infinite

@keyframes blobRadius
    0%
        border-radius: 43% 77% 80% 40% / 40% 40% 80% 80%
    100%
        border-radius: 43% 77% 80% 40% / 40% 40% 80% 80%
    20%
        border-radius: 47% 73% 60% 59% / 47% 75% 45% 73%
    40%
        border-radius: 43% 77% 80% 40% / 47% 75% 45% 73%
    80%
        border-radius: 47% 73% 60% 59% / 40% 40% 80% 80%

// @keyframe blobBackground
//     0%
//     background-position: 0% 50%
//     100%
//     background-position: 0% 50%
//     50%
//     background-position: 100% 50%

.intro__index__button_h2
    margin: 0.75rem

.intro__index__scrollButton--desktop
    position: absolute
    bottom: 1rem
    right: 4rem
    background: none
    color: inherit
    border: none
    padding: 0
    margin: 0
    font: inherit
    cursor: pointer
    outline: inherit
    z-index: 2
    visibility: visible

.intro__index__scrollButton--mobile
    position: fixed
    right: 1rem
    bottom: 1rem
    background: none
    color: inherit
    border: none
    padding: 0
    margin: 0
    font: inherit
    cursor: pointer
    outline: inherit
    z-index: 2
    visibility: hidden
        // transform: rotate(180deg) translate(0rem,0px)

.intro__index__scrollButton_img
    width: 55px

.intro__description
    background-color: $primary-one
    border-bottom: 1px solid $dark-gray
    display: flex
    flex-direction: row
    flex: 1.5

.intro__description__main
    padding: 1rem
    // background-color: MediumSlateBlue
    margin: 0
    border-right: 1px solid $dark-gray
    flex: 1
    color: $primary-three

.intro__description__extra
    background-color: $primary-two
    padding: 0.75rem 1rem 0.5rem 1rem
    flex: 1.15
    p
        color: $primary-three
        line-height: 1.125rem
        margin: 0.5rem 0rem 0.5rem 0rem

.intro__description__extra__imprint
    font-size: 0.625rem
    padding-bottom: 1rem
    color: $primary-two-dark
    text-decoration: none
    text-align: right

.imprint
    max-width: 800px
    padding: 1rem
