// Variables

$dark-gray: #1E1E1E

// $background: #E8E8E8
// $primary-one: #C05756
// $primary-two: #6D74C2
// $primary-three: #87629D

$background: #F5F5F5
$primary-one: #448954
$primary-two: #4371A8E2
$primary-three: #E9A040
$primary-four: #E25D2D

@font-face
    font-family: PPAgrandir Reg
    src: url('./fonts/PPAgrandir-Regular.ttf')

@font-face
    font-family: PPAgrandir Bold
    src: url('./fonts/PPAgrandir-TextBold.ttf')

@font-face
    font-family: PPTelegraf
    src: url('./fonts/PPTelegraf-Regular.ttf')
